name: sync

on:
  schedule:
  # every 30 minutes
  - cron: '*/30 * * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18.x

      - name: set up gcp key
        run: echo ${{ secrets.CLABOT_CREDENTIALS }} | base64 -d > clabot-credentials.json

      - run: go run ./tools/sync
        env:
          GOOGLE_APPLICATION_CREDENTIALS: clabot-credentials.json

      - name: update .clabot-config
        run: |
          if git diff --quiet; then
            echo "No diff, exiting"
          else
            git config user.name sourcegraph-bot
            git config user.email sourcegraph-bot-github@sourcegraph.com
            git add .
            git commit -am "clabot: sync contributors that have signed the CLA"
            git push
          fi
